@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    padding: 0;
    margin: 0;
    font-family:Poppins;
    background-color: #ffffff;
}

*{
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}


/* ---------- Navigation Start --------------------------------------------- */

nav{
    width: 100%;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.05) ;
}

.social-call{
    height: 40px;
    border: 1px solid rgba(0, 0, 0,0.05);
    display: flex;
    justify-content: center;    
    align-items: center;
}

.social a{
    margin: 0 5px;
    color: rgba(0, 0, 0,0.7);
    font-size: 0.9rem;
}

.social a:hover{
    color: #0b9d8a;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
}

.phone{
    color: rgba(0, 0, 0, 0.7);
    margin-left: 30px;
    font-size: 0.9rem;
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 45px;
}

.logo img{
    height: 30px;
}

.menu{
    display: flex;
    padding-left: 0;
}

.menu li{
    margin: 20px;
    font-weight: 500;
    position: relative;
    display: flex;
    text-transform: uppercase;
}

.menu li a{
    color: #555555;
}

.right-menu a{
    margin: 0 10px;
    font-size: 1.2rem;
    color: rgba(0, 0, 0,0.7);
}

.menu a:hover,
.right-menu a:hover,
.form-cancel:hover{
    color: #0b9d8a;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
}

.sale-label{
    
    min-width: 38px;
    height: 14px;
    background-color: #f76b6a;
    color: #ffffff;
    font-weight: 400;
    display: flex;
    align-items: center;
    position: absolute;
    top: -20px;
    left: 16px;
    font-size: 10px;
    justify-content: center;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    padding: 8px 5px;
    white-space: nowrap;
}

.sale-label::after{
    content: '';
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 6px solid #f76b6a;
    position: absolute;
    top: 100%;
    left: 10%;
}
.fa-shopping-cart{
    position: relative;
}
.number-cart-product{
    position: absolute;
    top: -17px;
    right: -17px;
    width: 25px;
    height: 25px;
    font-size: 0.8rem;
    border-radius: 50% ;
    -webkit-border-radius: 50% ;
    -moz-border-radius: 50% ;
    -ms-border-radius: 50% ;
    -o-border-radius: 50% ;
    background-color: #0b9d8a;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}

/* ----- Search-bar----------- */

.search-bar{
    width: 100%;
    height: 300px;
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 2px -5px 30px rgba(0, 0, 0, 0.1);
    z-index: 101;

    animation: search 0.5s;
    -webkit-animation: search 0.5s;
}

.search-input{
    width: 90%;
    border-bottom: 2px solid #555555;
    display:flex;
    justify-content: center;
    height: 100px;
    align-items: center;
    margin-top: 20px;
}

.search-bar input{
    width: 100%;
    padding: 30px;
    border: none;
    outline: none;
    font-size: 2rem;
    margin: 20px;
    padding: 0 20px;
}

.search-cancel{
    color: #444444;
    font-size: 2rem;
    padding-right: 20px;
}

.search-cancel i:hover{
    color: #0b9d8a;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
}

.search-bar{
    display: none;
}
.search-bar-active{
    display: flex;
    
}

@keyframes search{
    0%{
        bottom: -300px;
    }
    100%{
        bottom: 0;
    }
}

/* -------- Login And Sign Up Form -------------------------*/

.form{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 102;
    align-items: center;
    background-color: rgba(0, 0, 0,0.2);
    flex-direction: column;
}

.login-form,
.sign-up-form{
    width: 420px;
    padding: 20px 10px;
    background-color: #ffffff;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    position: relative;
}

.login-form form,
.sign-up-form form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.login-form strong,
.sign-up-form strong{
    font-size: 2rem;
    color: #272727;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin: 2px 7px 7px 7px;
    font-weight: 500;
}

.login-form  input,
.sign-up-form input{
    width: 90%;
    height: 45px;
    margin: 6px 0;
    padding: 0 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    outline: none;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.login-form input::placeholder,
.sign-up-form input::placeholder{
    color: rgba(0, 0, 0,0.5);
}

.login-form input[type="submit"],
.sign-up-form input[type="submit"]{
    color: #ffffff;
    background-color: #0b9d8a;
    text-transform: uppercase;
    border: none;
    outline: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    box-shadow: 2px 2px  30px rgba(0, 0, 0, 0.1);
    margin: 10px;
    cursor: pointer;
}

/* form-btns */ 

.form-btns{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.form-btns a{
    color: #4d4d4d;
    font-size: 0.9rem;
}

.sign-up-btn{
    border-bottom: 1px dashed #868686;
    line-height: 16px;
}

.form-cancel{
    position: absolute;
    right: 20px;
    top: 10px;
    color: #868686;
}


.login-form,
.sign-up-form,
.form{
    display: none;
}


.login-active,
.login-active .login-form{
    display: flex;
    animation: fade-in 0.4s;
    -webkit-animation: fade-in 0.4s;
}

.sign-up-active,
.sign-up-active .sign-up-form{
    display: flex;
}

@keyframes fade-in{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


/* ------- Full Width Slider ----- */

.full-slider-box{
    width: 100%;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.f-slide-1{
    background-image: url(../images/Slider_01.jpg);
}

.f-slide-2{
    background-image: url(../images/Slider_02.jpg);
}

.f-slide-3{
    background-image: url(../images/Slider_03.jpg);
}

.f-slide-4{
    background-image: url(../images/Slider_04.jpg);
}


.slider-text-container{
    width: 80%;
    height: 90%;
    display: flex;
    align-items: center;
}

.f-slider-text{
    display: flex;
    flex-direction: column;
}
.f-slider-text strong{

    font-size: 3rem;
    color: #333333;
    line-height: 55px;
    margin-top: 10px;
    letter-spacing: 1px;

}

.f-slider-text span{
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #666666;
    font-weight: 500;
    font-size: 1.2rem;
}

.f-slider-btn{
    width: 170px;
    height: 40px;
    background-color: #0b9d8a;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 14px;
    border-radius: 3px ;
    -webkit-border-radius: 3px ;
    -moz-border-radius: 3px ;
    -ms-border-radius: 3px ;
    -o-border-radius: 3px ;
}


/*------ Featured Category ---- */

.feature-heading{
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-heading h2,
.arrival-heading strong{

    font-size: 1.5rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 40px;
    padding: 5px 30px;
    color: #1b1919;
    border: 1px solid #e0e0e0;
}

.feature-box{
   width: 155px;
   height: 155px;
   margin: 0 20px;
   border-radius: 15px;
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
   -ms-border-radius: 15px;
   -o-border-radius: 15px;
   overflow: hidden;
}

.feature-box a img{
     width: 100%;
     height: 100%;
    object-fit: cover;
    object-position: center;
}

.item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.item span{
    font-size: 1rem;
    margin: 5px;
    color: #444444;
    font-weight: 600;
}

#autoWidth{
    display: flex;
    justify-content:center !important;
    margin: 25px auto 40px auto;
}

/* .slider-container{
    width: 60%;
    margin: 0 auto;

} */

/*-- New Arrival Section ------ */

.arrival-heading{

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.arrival-heading strong{
    color: #ffffff;
    background-color: #202020;
    font-weight: 500;
}

.arrival-heading p{
    margin: 10px;
    font-size: 0.9rem;
}

/* ------ Product Container ------ */

.product-container{

    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

}

.product-box{
    display: flex;
    flex-grow: 0.5;
    flex-direction: column;
    align-items: center;
    border: 1px solid #f7f7f7;
    border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -ms-border-radius:10px;
    -o-border-radius:10px;
    margin: 10px;
}

.product-img{

    width: 200px;
    height: 210px;
    margin: 20px;
    cursor: pointer;
    position: relative;

}

.product-img img{

    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
}

.product-details{

    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #f3f3f3;
    width: 100%;
    padding: 10px 20px;

}

.product-details .p-name{
    color: #727272;
}

.p-price{
    color: #333333;
    font-size: 1.2rem;
    font-weight: 400;
}

.product-box:hover{
    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
    transition: all ease 0.4s;
    -webkit-transition: all ease 0.4s;
    -moz-transition: all ease 0.4s;
    -ms-transition: all ease 0.4s;
    -o-transition: all ease 0.4s;
}

.add-cart{
    position: absolute;
    background-color: #0b9d8a;
    color: #ffffff;
    top: 10px;
    right: -20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.add-cart:hover{
    background-color: #f76b6a;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
}

.add-cart{
    display: none;
    /* animation: fade 0.7s;
    -webkit-animation: fade 0.7s; */
}

.product-box:hover .add-cart{
    display: flex;
}

.new-arrival{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* ---- Sale Section ---- */

.sale{

    width: 95%;
    display: flex;
   justify-content: center;
   align-items: center;
    margin: 20px auto;
    flex-wrap: wrap;
}

.sale-box{

    width: 280px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin: 20px;
    position: relative;
    flex-grow: 0.5;
}

.sale-box img{

    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center right ;
}

.sale-text{
    position: absolute;
    top: 50%;
    left: 20%;
    display: flex;
    flex-direction: column;
    transform: translate(-20% , -50%);
    -webkit-transform: translate(-20% , -50%);
    -moz-transform: translate(-20% , -50%);
    -ms-transform: translate(-20% , -50%);
    -o-transform: translate(-20% , -50%);
}

.sale-box a{
    color: #1b1919;
}

.sale-text strong{

    font-size: 1.2rem;
    font-weight: 500;
    width: 80%;
    line-height: 23px;

}

/* ---------- Banner --------- */

.banner-box{
    width: 100%;
    height: 65vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.banner-text-container{
    width: 80%;
    height: 90%;
    display: flex;
    align-items: center;
}

.banner-text{
    display: flex;
    flex-direction: column;
}

.banner-text strong{
    font-size: 3rem;
    color: #333333;
    line-height: 55px;
    margin-top: 10px;
    letter-spacing: 1px;
}

.banner-text span{
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #666666;
    font-weight: 500;
    font-size: 1.2rem;
}

.banner-btn{
    width: 170px;
    height: 40px;
    background-color: #0b9d8a;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 14px;
    border-radius: 3px ;
    -webkit-border-radius: 3px ;
    -moz-border-radius: 3px ;
    -ms-border-radius: 3px ;
    -o-border-radius: 3px ;
}

.banner-box{
    margin: 20px 0;
    height: 40vh;
}


/* -------- ŸèService Section ---------  */

.services{
    
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
}

.services-box{

    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 15px;
    flex-grow: 0.7;
    min-width: 250px;
}

.services-box i{

    color: #0b9d8a;
    font-size: 2rem;
    margin: 15px;
}

.services-box span{

    color: #222222;
    font-weight: 600;
    letter-spacing: 0.5px;
    font-size: 1rem;

}

.services-box p{

    color: #878787;
    font-size: 0.9rem;
    margin: 0;
    
}

/*  ---------- Footer ----------- */


footer{

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top:20px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    justify-content: space-around;
    flex-wrap: wrap;
}

.copy-right{

    font-size: 0.9rem;
    color: #4e4e4e;
    letter-spacing: 1px;
    
}

.subscribe input{

    width: 240px;
    height: 43px;
    padding: 0 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    outline: none;
    box-shadow: 2px 2px 30px rgba(0, 0, 0,0.05);
}

.subscribe input[type="submit"]{
    background-color: #0b9d8a;
    color: #ffffff;
    width: 120px;
    margin: 0 5px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border: none;
    cursor: pointer;
}

/*   For Fix Menu When Menu Scrolled   */

.fix-nav{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    opacity: 0.95;
    width: 100%;
    z-index: 102;
}

/* ------- Toggle Icon ------ */
.toggle{
    display: none;
}

/* ----- Responsive Design -------------- */

@media(max-width:1010px){

    nav{
        position: relative;
    }

    .navigation{
        height: 80px;
    }

    .fix-nav{
        height: 80px;
    }

    .menu{

        position: absolute;
        top: 110px;
        left: 0;
        background-color: #ffffff;
        border-bottom: 4px solid #0b9d8a;
        width: 100%;
        padding: 0;
        margin: 0;
        flex-direction: column;
        display: none;
    }

    .fix-nav .menu{
        top: 80px;
    }

    .menu li{

        width: 100%;
        margin: 0;
        padding: 0;

    }

    .navigation .menu li a{

        display: flex;
        align-items: center;
        width: 100%;
        height: 50px;
        margin: 0;
        padding: 25px;
        border: 1px solid rgba(0, 0, 0,0.03);
    }

    .sale-label{
        display: none;
    }

    .toggle{
        display: block;
    }

    .toggle::before{
        
        content: "\f0c9";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        line-height: 30px;
        z-index: 1;
        cursor: pointer;

    } 

    .toggle.active:before{
        content: "\f00d";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        line-height: 30px;
        z-index: 1;
        cursor: pointer;
    }
    
    .navigation.active .menu{
        display: block;
        z-index: 104;
    }
    
    .full-slider-box,.banner-box{
        height: 55vh;
    }

    .f-slider-text span,
    .banner-text span{
        font-size: 0.9rem;
    }
    .f-slider-text strong,
    .banner-text strong{
        font-size: 2rem;
        line-height: 40px;
    }

    .search-input{
        height: 60px;
        margin-top: 0;
        margin-bottom: 30px;
    }

    .search-input input,
    .search-cancel{
        font-size: 1.4rem;
    }

    .search-bar{
        height: 150px;
    }

    .sale-box{
        height: 200px;
    }

}


@media(max-width:600px){
    .navigation{
        padding: 10px 10px;
    }
    .f-slider-text strong,
    .banner-text strong{
        font-size: 1.2rem;
        line-height: 25px;
    }

    .full-slider-box,.banner-box{
        height: 30vh;

    }

    .f-slider-text span,
    .banner-text span{
        font-size: 0.8rem;
    }

    .f-slider-btn,
    .banner-btn{
        width: 120px;
        font-size: 0.8rem;
        height: 30px;
    }

    .feature-heading h2{

        font-size: 1.2rem;
        
    }

    .feature-box{
        width: 120px;
        height: 120px;
    }

    .new-arrival strong{
        font-size: 1.2rem;
    }

    .new-arrival p{
        font-size: 0.8rem;
        text-align: center;
    }

    .sale{
        width: 100%;
    }
   
    .services{
        width: 100%;

    }
    .services-box{
        width: 100%;
    }

    .copy-right{
        margin: 20px 0;
        text-align: center;
    }

    .subscribe{
        width: 100%;
    }
    .subscribe form{

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .subscribe input[type="submit"]{
        margin: 15px 0;

    }
}